*{
    margin: 0;
}
body{
    font-family: georgia, times, serif;
    color: #333;
    font-size: 1.2em;
    line-height: 1.6em;
    background-color: #0F1724;
}
#header{
    background: darkslategray;
    padding: 1.5rem 0;
    position: fixed;
    left:0;
    top:0;
    right: 0;
}
/* .nav-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.nav-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header a{
    text-decoration: none;
    color:darkcyan;
}

#adiv{
    width: 100px;
    height: 100%;
    display:inline;
    background:black;
}
#footer{
    width: 100%;
    height: 140px;
    background-color: rgb(29,48,48);
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
    position: absolute;
    display: ;
}
#nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
#nav ul li{
    display: inline-flex;
}
#nav ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: background 0.4s linear;
    border-radius: 5px;
}
#nav ul li a:hover{
    background:rgb(57,96,96);
}
#logo{
    letter-spacing: 15px;
    font-size: 1.4em;
}
#footer p{
    color:black;
}